version: 2.1
orbs:
  codecov: codecov/codecov@4.1.0
jobs:
  setup:
    machine:
      image: ubuntu-2004:current
      docker_layer_caching: true
    resource_class: large
    working_directory: /tmp/spring
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run:
          name: Grant execute permission for mvnw
          command: chmod +x mvnw
      - run:
          name: Download dependecies
          command: ./mvnw dependency:resolve
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
      - persist_to_workspace:
          root: /tmp/spring
          paths: ["*", "**/*"]
  build:
    machine:
      image: ubuntu-2004:current
      docker_layer_caching: true
    resource_class: large
    working_directory: /tmp/spring
    steps:
      - attach_workspace:
          at: /tmp/spring
      - run:
          name: Install OpenJDK 17
          command: |
            sudo apt-get update && sudo apt-get install openjdk-17-jdk
            sudo update-alternatives --set java /usr/lib/jvm/java-17-openjdk-amd64/bin/java
            sudo update-alternatives --set javac /usr/lib/jvm/java-17-openjdk-amd64/bin/javac
            java -version
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run:
          name: Build with Maven
          command: ./mvnw -DskipTests install
  test:
    machine:
      image: ubuntu-2004:current
      docker_layer_caching: true
    resource_class: large
    working_directory: /tmp/spring
    parallelism: 4
    steps:
      - attach_workspace:
          at: /tmp/spring
      - run:
          name: Install OpenJDK 17
          command: |
            sudo apt-get update && sudo apt-get install openjdk-17-jdk
            sudo update-alternatives --set java /usr/lib/jvm/java-17-openjdk-amd64/bin/java
            sudo update-alternatives --set javac /usr/lib/jvm/java-17-openjdk-amd64/bin/javac
            java -version
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run:
          name: Build with Maven
          command: |
            circleci tests glob "src/test/**/**.java" | circleci tests split --split-by=timings --timings-type=classname
            ./mvnw -Dtest=$(for file in $(circleci tests glob "src/test/**/**.java" | circleci tests split --split-by=timings --timings-type=classname); do basename $file | sed -e "s/.java/,/"; done | tr -d '\r\n') -e test
      - store_test_results:
          path: target/test-results
      - store_artifacts:
          path: target
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

  analyse:
    machine:
      image: ubuntu-2004:current
      docker_layer_caching: true
    resource_class: large
    working_directory: /tmp/spring
    steps:
      - attach_workspace:
          at: /tmp/spring
      - run:
          name: Install OpenJDK 17
          command: |
            sudo apt-get update && sudo apt-get install openjdk-17-jdk
            sudo update-alternatives --set java /usr/lib/jvm/java-17-openjdk-amd64/bin/java
            sudo update-alternatives --set javac /usr/lib/jvm/java-17-openjdk-amd64/bin/javac
            java -version
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run:
          name: Analyze on SonarCloud
          command: ./mvnw verify sonar:sonar -Dsonar.projectKey=GeoZac_unconv_spring
      - codecov/upload:
            file: target/jacoco/test/jacoco.xml
            flags: controllers_test
      - codecov/upload:
            file: target/jacoco/integrationTest/jacoco.xml
            flags: integration_test
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

  doc:
    machine:
      image: ubuntu-2004:current
      docker_layer_caching: true
    resource_class: large
    working_directory: /tmp/spring
    steps:
      - attach_workspace:
          at: /tmp/spring
      - run:
          name: Install OpenJDK 17
          command: |
            sudo apt-get update && sudo apt-get install openjdk-17-jdk
            sudo update-alternatives --set java /usr/lib/jvm/java-17-openjdk-amd64/bin/java
            sudo update-alternatives --set javac /usr/lib/jvm/java-17-openjdk-amd64/bin/javac
            java -version
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run:
          name: Build API doc
          command: ./mvnw package
      - store_artifacts:
          path: target/generated-docs/index.pdf
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

workflows:
  build-and-test:
    jobs:
      - setup
      - build:
          requires:
            - setup
      - test:
          requires:
            - setup
      - analyse:
          context: SonarCloud
          requires:
            - build
      - doc:
          requires:
            - test
          filters:
            branches:
                only:
                - /docs\/.*/
                - master
            tags:
                only: /^v.*/
