version: 2.1
orbs:
  codecov: codecov/codecov@4.1.0
  owasp: entur/owasp@0.0.19

commands:
  show_java_version:
    steps:
      - run:
          name: Show Java Info
          command: |
            java --version

jobs:
  setup_ci:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      - show_java_version
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run:
          name: Download dependecies
          command: ./mvnw dependency:resolve
      - run:
            name: Display dependency tree
            command: ./mvnw dependency:tree
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

  build_ci:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      - show_java_version
      - restore_cache:
          keys:
            - v1-dependencies-build-{{ checksum "pom.xml" }}
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run:
          name: Package
          command: ./mvnw -DskipTests package
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-build-{{ checksum "pom.xml" }}

  install_ci:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      - show_java_version
      - setup_remote_docker:
            version: default
            docker_layer_caching: true
      - restore_cache:
          keys:
            - v1-dependencies-install-{{ checksum "pom.xml" }}
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run:
          name: Package
          command: ./mvnw install
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-install-{{ checksum "pom.xml" }}

  doc_ci:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      - show_java_version
      - restore_cache:
          keys:
            - v1-dependencies-doc-{{ checksum "pom.xml" }}
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run:
          name: Build API doc
          command: ./mvnw package -Dunconv.skip.asciidoctor=false
      - run:
          name: Build JavaDoc
          command: ./mvnw javadoc:javadoc
      - store_artifacts:
          path: target/generated-docs/index.pdf
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-doc-{{ checksum "pom.xml" }}

  setup:
    machine:
      image: ubuntu-2004:current
      docker_layer_caching: true
    resource_class: large
    working_directory: /tmp/spring
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run:
          name: Grant execute permission for mvnw
          command: chmod +x mvnw
      - run:
          name: Download dependecies
          command: ./mvnw dependency:resolve
      - run:
            name: Display dependency tree
            command: ./mvnw dependency:tree
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
      - persist_to_workspace:
          root: /tmp/spring
          paths: ["*", "**/*"]
  build:
    machine:
      image: ubuntu-2004:current
      docker_layer_caching: true
    resource_class: large
    working_directory: /tmp/spring
    steps:
      - attach_workspace:
          at: /tmp/spring
      - run:
          name: Install OpenJDK 17
          command: |
            sudo apt-get update && sudo apt-get install openjdk-17-jdk
            sudo update-alternatives --set java /usr/lib/jvm/java-17-openjdk-amd64/bin/java
            sudo update-alternatives --set javac /usr/lib/jvm/java-17-openjdk-amd64/bin/javac
            java -version
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run:
          name: Build with Maven
          command: ./mvnw -DskipTests install
  test:
    machine:
      image: ubuntu-2004:current
      docker_layer_caching: true
    resource_class: large
    working_directory: /tmp/spring
    parallelism: 4
    steps:
      - attach_workspace:
          at: /tmp/spring
      - run:
          name: Install OpenJDK 17
          command: |
            sudo apt-get update && sudo apt-get install openjdk-17-jdk
            sudo update-alternatives --set java /usr/lib/jvm/java-17-openjdk-amd64/bin/java
            sudo update-alternatives --set javac /usr/lib/jvm/java-17-openjdk-amd64/bin/javac
            java -version
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run:
          name: Build with Maven
          command: |
            circleci tests glob "src/test/**/**.java" | circleci tests split --split-by=timings --timings-type=classname
            ./mvnw -Dtest=$(for file in $(circleci tests glob "src/test/**/**.java" | circleci tests split --split-by=timings --timings-type=classname); do basename $file | sed -e "s/.java/,/"; done | tr -d '\r\n') -e test
      - store_test_results:
          path: target/test-results
      - store_artifacts:
          path: target
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

  analyse:
    machine:
      image: ubuntu-2004:current
      docker_layer_caching: true
    resource_class: large
    working_directory: /tmp/spring
    steps:
      - attach_workspace:
          at: /tmp/spring
      - run:
          name: Install OpenJDK 17
          command: |
            sudo apt-get update && sudo apt-get install openjdk-17-jdk
            sudo update-alternatives --set java /usr/lib/jvm/java-17-openjdk-amd64/bin/java
            sudo update-alternatives --set javac /usr/lib/jvm/java-17-openjdk-amd64/bin/javac
            java -version
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run:
          name: Run CheckStyle
          command: ./mvnw checkstyle:checkstyle
      - run:
          name: Analyze on SonarCloud
          command: ./mvnw verify sonar:sonar -Dsonar.projectKey=GeoZac_unconv_spring
      - codecov/upload:
            file: target/jacoco/test/jacoco.xml
            flags: controllers_test
      - codecov/upload:
            file: target/jacoco/integrationTest/jacoco.xml
            flags: integration_test
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

workflows:
  build-and-test:
    jobs:
      - setup_ci
      - build_ci:
          requires:
            - setup_ci
      - install_ci:
          requires:
            - setup_ci
      - doc_ci:
          requires:
            - install_ci
          filters:
            branches:
                only:
                - /docs\/.*/
                - /infra\/.*/
                - master
            tags:
                only: /^v.*/
      - setup
      - owasp/maven_owasp_dependency_check:
          filters:
            branches:
                only:
                - master
                - /dependabot\/.*/
                - /chore\/.*/
      - build:
          requires:
            - setup
      - test:
          requires:
            - setup
      - analyse:
          context: SonarCloud
          requires:
            - build

