version: 2.1
jobs:
  build:
    docker:
      - image: cimg/openjdk:17.0.2
    steps:
      - checkout
      - run:
          command: chmod +x mvnw
      - run:
          command: ./mvnw clean verify
workflows:
  version: 2
  build-and-test:
    jobs:
      - build
