version: '3.8'
services:

  postgresqldb:
    image: postgresql:15.0
    environment:
      - MYSQL_DATABASE=appdb
      - MYSQL_USER=appuser
      - MYSQL_PASSWORD=secret
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - "5432:5432"


