name: Build Dockerimage
on:
  push:
    branches:
      - "**"

jobs:
  build:
    strategy:
      matrix:
        distribution: [ 'temurin' ]
        java: [ '17' ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3.9.0

      - name: Build for test
        uses: docker/build-push-action@v6.14.0
        with:
          push: false