name: CI Build

on:
  push:
    branches:
      - "**"

jobs:
  event_file:
    name: "Event File (for test results)"
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@v5
      with:
        name: Event File
        path: ${{ github.event_path }}

  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distribution: [ 'temurin' ]
        java: [ '17' ]
    steps:
      - uses: actions/checkout@v6

      - name: Setup Java 17
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: ${{ matrix.distribution }}
          cache: 'maven'

      - name: Grant execute permission for mvnw
        run: chmod +x mvnw

      - name: Build with Maven
        run: ./mvnw clean install verify

      - name: 'Upload test results to Codecov'
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
          files: target/test-results/**/TEST-*.xml

      - name: Run Checkstyle
        run: ./mvnw checkstyle:checkstyle

      - name: Push Checkstyle report
        uses: jwgmeligmeyling/checkstyle-github-action@v1.2
        with:
          path: '**/checkstyle-result.xml'

      - if: ${{ github.ref == 'refs/heads/main' }}
        name: SonarQube Scan
        run: ./mvnw compile sonar:sonar -Dsonar.login=${{ secrets.SONAR_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - if: ${{ github.ref == 'refs/heads/main' }}
        name: Build and Publish Docker Image
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          ./mvnw spring-boot:build-image -Dspring-boot.build-image.imageName=${{ secrets.DOCKER_USERNAME }}/spring
          docker push ${{ secrets.DOCKER_USERNAME }}/spring

      - name: Upload Unit Test Results
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: Unit Test Results
          path: "target/test-results/**/*.xml"
                    
      - name: jacoco-badge-generator
        uses: cicirello/jacoco-badge-generator@v2.12.1
        with:
          generate-branches-badge: true
          jacoco-csv-file: target/jacoco/test/jacoco.csv
